.navigation {
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  /* height: 60px; */
  padding: 0.6rem 2rem;
  background: linear-gradient(
    -90deg,
    rgba(35, 53, 84, 0.72),
    rgba(53, 51, 83, 0.22),
    rgba(53, 51, 83, 0.54)
  );
  backdrop-filter: blur(25px);
  color: white;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.brand-name {
  text-decoration: none;
  color: #64ffda;
  font-weight: bolder;
  font-size: 2rem;
}
.brand-name:hover {
    color: rgba(100, 255, 219, 0.63);
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #2642af;
}

.nav-number {
  color: rgba(100, 255, 218, 1);
}

a {
  text-decoration: none;
  color: rgba(230, 241, 255, 1);
}
a:hover {
  color: rgba(100, 255, 218, 1);
}
button {
  background-color: transparent;
  border: 2px solid rgba(100, 255, 218, 1);
  color: #64ffda;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  padding: 8px 15px;
  margin-left: 32px;
}
button:hover {
  background-color: rgba(100, 255, 219, 0.08);
}

/* start of mobile */
@media screen and (max-width: 550px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #0a192f;
    border-top: 1px solid black;
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: white;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu.expanded ul {
    display: block;
  }
}
/* end of mobile */
